
p {
    color: black;
}

#home {
   color: rgb(0, 0, 0);
   text-align: center;
   padding-top: 2%;
    
}

.mainlist {
    color: rgb(0, 17, 17);
    text-align: center;
    list-style: none;
}

.flexbox {
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    
}

.box {
    background-color: white;
    padding: 20px;
    height: 300px;
    text-align: center;
    margin: 2em 2em 1em 2em;
    max-width: 25%;
    border-radius: 6px;
}

ul li{
  background-color: white;  
}